@font-face {
    font-family: fontNavbar;
    src: url(font/Montserrat-Regular.ttf);
}
@font-face {
    font-family: fontJumbotron;
    src: url(font/Montserrat-Bold.ttf);
}
@font-face {
    font-family: fontJumbotron;
    src: url(font/Montserrat-Bold.ttf);
}

.fontNavbar {
    font-family: fontNavbar, Calibri;
}

.btn-primer {
    background-color: #609C56 !important;
    color: white !important;
}

.fontJumbotron {
    font-family: fontJumbotron, Calibri;
    color: #235339;
}

.fontUpJumbotron {
    font-family: fontJumbotron, Calibri;
    color: #609C56;
}
