@font-face {
    font-family: fontNavbar;
    src: url(font/Montserrat-Regular.ttf);
}
@font-face {
    font-family: fontJumbotron;
    src: url(font/Montserrat-Bold.ttf);
}
@font-face {
    font-family: fontJumbotron;
    src: url(font/Montserrat-Bold.ttf);
}

html, body {
    width: 100%;
}

.fontNavbar {
    font-family: fontNavbar, Calibri;
}

.btn-primer {
    background-color: #609C56 !important;
    color: white !important;
}

.fontJumbotron {
    font-family: fontJumbotron, Calibri;
    color: #235339;
}

.fontUpJumbotron {
    font-family: fontJumbotron, Calibri;
    color: #609C56;
}

.fontNameTesti {
    font-family: fontJumbotron, Calibri;
    color: #235339;
}

.fontBrandFooter {
    font-family: fontJumbotron, Calibri;
    color: #235339;
    font-weight: 700;
    font-size: 24px;
}

.fontNavFooter {
    font-family: fontNavbar, Calibri;
    font-size: 16px;
    font-weight: 500;
    color: black; 
    text-decoration: none;
}

.iconFooter {
    color: #444444;
    font-size: 25px;
}

.fontSosmedFooter {
    font-family: fontJumbotron, Calibri;
    font-size: 18px;
    color: #444444;
}

.fontFormRegister {
    font-family: fontJumbotron, Calibri;
    font-size: 19px;
    color: #235339;
    padding: 0;
    margin: 0;
}

.font-primer {
    font-family: fontNavbar, Calibri;
}

.font-primer-b {
    font-family: fontJumbotron, Calibri;
}

.form-control:focus, .form-select:focus {
    border-color: #235339 !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(26, 88, 70, 0.5) !important;
}

.form-control, .form-select {
    border: none !important;
}

/* the slides */
.slick-slide {
    margin: 0 40px;
}
/* the parent */
.slick-list {
    margin: 0 -40px;
}
.slick-center {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);    
  }

  .program-kami .card {
    width: 250px;
}
  
  @media screen and (min-width:800px) {
      .program-kami .card {
         width: 400px;
      }
    }
    
    .program-kami .slick-list { 
       padding:45px 60px !important;
       margin-left:30px !important;
     }

    .slick-active {
        z-index: 99;
    }


    .slick-prev {
        width: 100px;
    }
    .slick-prev:before {
  content: "<";
  color: red;
  font-size: 30px;
}

.slick-next:before {
  content: ">";
  color: red;
  font-size: 30px;
}